// =======================================
// Extendable classes (.foo)
// and placeholder selectors (%foo)
// =======================================

%fixed-bottom,
.fixed-bottom {
  position: absolute;
  bottom: 0;
}

%fixed-top,
.fixed-top {
  position: absolute;
  top: 0;
}

%full-width,
.full-width {
  width: 100%;
}

%btn-rounded,
.btn-rounded {
  @include border-radius($btn-rounded);
}

%media-img {
  display: block;
  margin: 0 auto;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

// =======================================
// Silent, extendable grid objects
// i.e. @extend %col-baselines;
// =======================================
%omega {
  @include omega;
}

%mobile-grid {
  @include clearfix;
  display: block;
  width: 100%;
}

%container,
.container {
  @include clearfix;
}

%col-baselines,
.col-baselines {
  padding-top: $base-unit;
  padding-bottom: $base-unit;
}

%col-gutters,
.col-gutters {
  padding-left: $base-unit;
  padding-right: $base-unit;
}

%col-box,
.col-box {
  margin: 0 0 $base-unit-half;
}

// =======================================
// Silent, extendable box model objects
// i.e. @extend %margin-bottom;
// =======================================
%no-margin,
.no-margin {
  margin: 0;
}

%vertical-margin,
.vertical-margin {
  margin-top: $base-unit;
  margin-bottom: $base-unit;
}

%horizontal,
.horizontal-margin {
  margin-right: $base-unit;
  margin-left: $base-unit;
}

%margin-bottom,
.margin-bottom {
  margin-bottom: $base-unit;
}

%margin-top,
.margin-top {
  margin-top: $base-unit;
}

%margin-right,
.margin-right {
  margin-right: $base-unit;
}

%margin-left,
.margin-left {
  margin-left: $base-unit;
}

%no-pad,
.no-pad {
  padding: 0;
}

%pad-bottom,
.pad-bottom {
  padding-bottom: $base-unit;
}

%pad-top,
.pad-top {
  padding-top: $base-unit;
}

%pad-left,
.pad-left {
  padding-left: $base-unit;
}

%pad-right,
.pad-right {
  padding-right: $base-unit;
}

// =======================================
// Fixes rail overlay on small viewports
// in Firefox
// =======================================

%moz-clearfix,
.moz-clearfix {
  clear: both;
  @include breakpoint($lap-small, $no-query: '.lt-ie9') {
    clear: none;
  }
}
